

<navbar id="navbar">
  <nav id="title-nav">
    <a href="<%- url_for("/") %>">
      <div id="vivia-logo">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div><%- config.title %> </div>
    </a>
  </nav>
  <nav id="main-nav">
    <% for (var i in theme.menu){ %>
      <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </nav>
  <nav id="sub-nav">
    <a id="theme-btn" class="nav-icon">
      <span class="light-mode-icon"><%- partial('_icon/wb_sunny') %></span>
      <span class="dark-mode-icon"><%- partial('_icon/dark_mode') %></span>
    </a>
    <!-- <% if (theme.rss){ %>
      <a id="nav-rss-link" class="nav-icon mobile-hide" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>">
        <%- partial('_icon/rss_feed') %>
      </a>
    <% } %> -->
    <div id="nav-menu-btn" class="nav-icon">
      <%- partial('_icon/menu') %>
    </div>
    
    <!-- 添加搜索按钮 -->
    <!-- <a id="nav-search-btn" class="nav-icon">
      <%- partial('_icon/search') %>
    </a> -->

     
  <div id="docsearch" class="docsearch_style"></div>

  <script type="text/javascript">
    docsearch({
      container: '#docsearch',
      appId: '2TNUBTNRZ7',
      indexName: 'zsk-crs-gitee',
      apiKey: '5ece26a794c79ab9bbb43d3101ddac8f',
      debug: true 
    });
  </script>

    
  </nav>
</navbar>
<div id="nav-dropdown" class="hidden">
  <div id="dropdown-link-list">
    <% for (var i in theme.menu){ %>
      <a class="nav-dropdown-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
    <!-- <% if (theme.rss) { %>
      <a class="nav-dropdown-link" href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>">RSS</a>
    <% } %>  -->

    <!-- 添加搜索按钮 -->
    <!-- <a id="nav-search-btn" class="nav-icon">
      <%- partial('_icon/search') %>
    </a> -->

    </div>
</div>



<script>
  let dropdownBtn = document.getElementById("nav-menu-btn");
  let dropdownEle = document.getElementById("nav-dropdown");
  dropdownBtn.onclick = function() {
    dropdownEle.classList.toggle("hidden");
  }

  let searchBtn = document.getElementById("nav-search-btn");
  // searchBtn.onclick = function() {
  //   alert("显示搜索框！");
  // }
</script>